/* Basic Style */
body {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}
input,
button {
  outline: none;
}
.header {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}
.header__img {
  width: 100%;
  display: block;
}
.header__link {
  font-family: fantasy, cursive;
}

@media (max-width: 768px) {
  .header {
    text-align: center;
  }
}
.wrapper {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}
.task__label,
.task__input {
  box-sizing: border-box;
  width: 56%;
  display: inline-block;
  flex-grow: 1;
}
.new-task {
  margin-top: 1em;
  margin-bottom: 1em;
}
.new-task__wrapper {
  display: flex;
}
.task-list {
  margin: 0;
  padding: 0;
}
.task-list__item {
  list-style: none;
}

.button {
  background: none;
  border: 0;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}
.button:hover {
  color: #3a3a3a;
}
/* Heading */
.heading {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}
.task__input {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  width: 226px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}
.task__input:focus {
  color: #333;
}

/* New Task */
.new-task__label {
  display: block;
  margin: 0 0 20px;
}
.new-task__input {
  width: 318px;
}

/* Task list */
.task {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.task__check,
.task__label,
.task__input,
.button__icon {
  vertical-align: middle;
}

.task__check {
  margin: 0 10px;
}
.task__label {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}

.button__icon {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}
.button__icon:hover {
  transform: rotateZ(0);
}

/* Completed */
.task-list_completed .task__label {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */
.task-list__item .task__input {
  display: none;
}

.task-list__item.edit-mode .task__input {
  display: inline-block;
  width: 224px;
}

.task-list__item.edit-mode .task__label {
  display: none;
}